.searchForm * {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.searchForm input[type='search'] {
  color: var(--light-basic);
  border-bottom: 2px solid transparent;

  transition: all ease 0.3s;
}
.searchForm input[type='search']:focus {
  border-bottom: 2px solid var(--primary-color);

  transition: all ease 0.3s;
}
.searchForm button[type='submit'] {
  cursor: pointer;
  color: var(--primary-color);
}

.searchForm {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
}
.searchForm > input[type='search'] {
  width: 100%;
}
